ul{
    width: 30%;
    height: 2cm;
    padding: 1cm 0 0 0;
    border: 20px dotted green;
    margin: 0;
    text-align: center;
}
li{
    background-color: lightseagreen;
    height: 1cm;
    padding: 3mm;
    list-style: none;
    display: inline;
    text-align: center;
    margin: 0;
}